.concierge-icon-angel-face { background-image: url('/images/fallback/angel-face.png'); background-repeat: no-repeat; }

.concierge-icon-arcade { background-image: url('/images/fallback/arcade.png'); background-repeat: no-repeat; }

.concierge-icon-broken-glasses { background-image: url('/images/fallback/broken-glasses.png'); background-repeat: no-repeat; }

.concierge-icon-fingers-crossed { background-image: url('/images/fallback/fingers-crossed.png'); background-repeat: no-repeat; }

.concierge-icon-organizer { background-image: url('/images/fallback/organizer.png'); background-repeat: no-repeat; }

.concierge-icon-running-news { background-image: url('/images/fallback/running-news.png'); background-repeat: no-repeat; }

.concierge-icon-screen-book { background-image: url('/images/fallback/screen-book.png'); background-repeat: no-repeat; }

.concierge-icon-searchbox { background-image: url('/images/fallback/searchbox.png'); background-repeat: no-repeat; }

.concierge-icon-social-people { background-image: url('/images/fallback/social-people.png'); background-repeat: no-repeat; }

.concierge-icon-sources { background-image: url('/images/fallback/sources.png'); background-repeat: no-repeat; }

.concierge-icon-tissue-box { background-image: url('/images/fallback/tissue-box.png'); background-repeat: no-repeat; }

.concierge-icon-tv-couch { background-image: url('/images/fallback/tv-couch.png'); background-repeat: no-repeat; }

