.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html {
  box-sizing: border-box;
  overflow-x: hidden;
}
*,
input {
  box-sizing: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
  outline-style: none;
  list-style-type: none;
}
.background {
  background: #111;
  background: linear-gradient(-33deg, #000000 0%, #2a2b2c 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  background: #111;
  background: linear-gradient(-33deg, #000000 0%, #2a2b2c 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 17px;
  font-size: 1.7rem;
  color: #fff;
  text-rendering: optimizeLegibility !important;
  font-smoothing: antialiased !important;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.03);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 992px;
}
a {
  color: #fff;
  text-decoration: none;
}
div,
section,
header,
nav,
article,
footer,
.menu-actions,
.action-links {
  text-align: left;
  display: inline-block;
  position: relative;
  width: 100%;
}
#copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 8px;
  font-size: .8rem;
  color: #333;
  text-shadow: rgba(255, 255, 255, 0.03);
  text-align: center;
  padding: 5px;
}
#topbar {
  text-align: center;
  height: 100px;
  height: 10vw;
  width: 100%;
  white-space: nowrap;
}
#topbar .brand,
#topbar .search,
#topbar .navigation {
  white-space: normal;
  display: inline-block;
  width: 50%;
  max-width: 50%;
}
#topbar .brand {
  position: absolute;
  width: 100px;
  width: 10vw;
  height: 100%;
  margin-left: -50px;
  margin-left: -5vw;
  left: 50%;
}
#topbar .brand:before {
  display: block;
  content: "";
  padding-top: 100%;
  max-height: 100%;
}
#topbar .brand .name {
  display: none;
}
#topbar .brand .logo {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-height: 120px;
}
#topbar .navigation {
  padding-left: 5vw;
  text-align: right;
  height: 100%;
  text-transform: capitalize;
}
#topbar .navigation ul {
  position: relative;
  list-style-type: none;
  width: auto;
  height: 100%;
  display: inline-block;
  white-space: nowrap;
}
#topbar .navigation ul:first-of-type {
  padding: 0 0 0 20px;
  padding: 0 0 0 2rem;
}
#topbar .navigation ul:last-of-type {
  padding: 0 20px 0 0;
  padding: 0 2rem 0 0;
}
#topbar .navigation ul li {
  white-space: normal;
  height: 1.5em;
  position: relative;
  display: inline-block;
  margin: 0 0.5em;
  margin-top: -20px;
  margin-top: -2rem;
  top: 50%;
}
#topbar .search {
  padding: 0 20px;
  padding: 0 2rem;
  text-align: left;
  height: 100%;
}
#topbar .search label {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
#topbar .search label:before {
  position: absolute;
  top: 50%;
  font-weight: normal;
  text-shadow: none;
  margin-top: -0.75em;
  left: .25em;
  font-family: 'FontAwesome';
  display: inline-block;
  content: "\f002";
  padding-right: 3px;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
#topbar .search label input {
  position: relative;
  padding-left: 20px;
  padding-left: 2.5rem;
  top: 50%;
  width: 8em;
  line-height: 1.5;
  margin-top: -30px;
  margin-top: -3rem;
  vertical-align: middle;
  display: inline-block;
  border: 2px solid #fff;
  border: .2rem solid #fff;
  background: transparent;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.03);
}
#topbar .search label input:focus,
#topbar .search label input:active {
  min-width: 12em;
}
h1 {
  text-transform: capitalize;
}
.concierge-icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-position: center;
}
.menu-actions,
.action-links {
  list-style-type: none;
}
.menu-actions {
  text-align: center;
}
.menu {
  height: 0;
  width: 0;
  opacity: 0;
  transform: scale(0) translateX(10000px);
  transition: all 0.2s ease-in;
  overflow: hidden;
}
.menu.active {
  height: 100%;
  width: 100%;
  opacity: 1;
  transform: scale(1) translateX(0);
}
.menu .menu-head {
  font-size: 32px;
  font-size: 3.2rem;
  width: 100%;
  height: 40px;
  margin-top: 100px;
  margin-top: 10rem;
  margin-bottom: 40px;
  margin-bottom: 4rem;
}
.menu .menu-body {
  width: 100%;
}
.action {
  cursor: pointer;
  text-align: left;
  display: inline-block;
  position: relative;
  border: 2px solid #fff;
  border: .2rem solid #fff;
  margin: 10px;
  margin: 1rem;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.03);
  max-width: 200px;
  min-width: 140px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.action:hover {
  background: rgba(255, 255, 255, 0.033);
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.03);
}
.action:before {
  display: block;
  content: "";
  padding-top: 100%;
  max-height: 100%;
}
.action .action-head {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  bottom: 1rem;
  padding: 20px 10px;
  padding: 2rem 1rem 1rem;
  height: 40%;
}
.action .action-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  padding: 10px;
  text-align: center;
}
/* Burger Menu Magic Stuff */
@media only screen and (max-width: 780px) {
  #topbar {
    height: 80px;
    height: 8rem;
    overflow: auto;
  }
  #topbar .navigation {
    position: fixed;
    width: 60px;
    width: 6rem;
    height: 60px;
    height: 6rem;
    overflow: hidden;
    top: 10px;
    top: 1rem;
    left: 100%;
    margin-left: -80px;
    margin-left: -8rem;
    text-indent: 100%;
    transition: all 0.1s ease-in;
  }
  #topbar .navigation:before {
    content: '';
    position: absolute;
    background-image: url('images/logo.png');
    background-image: url('images/logo.svg');
    background-position: center;
    background-size: 60px;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 60px;
    width: 6rem;
    height: 60px;
    height: 6rem;
  }
  #topbar .navigation.open {
    background: #111;
    background: linear-gradient(-33deg, #000000 0%, #2a2b2c 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    z-index: 9999;
    text-indent: 0;
    top: 0;
    left: 0;
    margin: 0;
    padding: 20px;
    padding: 2rem;
  }
  #topbar .navigation.open:before {
    top: 10px;
    top: 1rem;
    left: 10px;
    left: 1rem;
  }
  #topbar .navigation.open ul {
    position: relative;
    height: auto;
    width: 100%;
    white-space: normal;
    display: block;
    padding-top: 80px;
    padding-top: 8rem;
  }
  #topbar .navigation.open ul.lang-links {
    display: none;
  }
  #topbar .navigation.open ul li {
    border: 1px solid #fff;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.03);
    padding: 1.5em 2.5em 2.5em;
    display: block;
    float: left;
    clear: both;
    margin: 0;
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
  }
  #topbar .navigation.open ul li:hover {
    background: rgba(255, 255, 255, 0.03);
  }
  #topbar .brand {
    display: none;
  }
  #topbar .search {
    min-width: 100%;
    padding-right: 70px;
    padding-right: 7rem;
  }
  #topbar .search label:before {
    width: 40px;
    width: 4rem;
    height: 40px;
    height: 4rem;
    font-size: 2em;
    top: 1.4em;
  }
  #topbar .search label input {
    height: 60px;
    height: 6rem;
    padding-left: 60px;
    padding-left: 6rem;
    min-width: 70%;
  }
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .menu-actions,
  .menu-head {
    width: 320px;
    max-width: 320px;
    left: 50%;
    margin-left: -160px;
  }
  .dev .action {
    background: red;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .menu-actions,
  .menu-head {
    width: 480px;
    max-width: 480px;
    left: 50%;
    margin-left: -240px;
  }
  .dev .action {
    background: orange;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .menu-actions,
  .menu-head {
    width: 768px;
    max-width: 768px;
    left: 50%;
    margin-left: -384px;
  }
  .dev .action {
    background: yellow;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .dev .action {
    background: lime;
  }
  .menu-actions,
  .menu-head {
    /*    white-space:nowrap;*/
    width: 992px;
    max-width: 992px;
    left: 50%;
    margin-left: -496px;
  }
  .action {
    white-space: normal;
    max-width: 140px;
    font-size: 13px;
    font-size: 1.3rem;
  }
  .action .action-icon {
    width: 80px;
    height: 80px;
  }
  .dev .action {
    background: green;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1300px) {
  body {
    max-width: 1440px;
  }
  .menu-actions,
  .menu-head {
    /*    white-space:nowrap;*/
    width: 1320px;
    max-width: 1320px;
    left: 50%;
    margin-left: -660px;
  }
  .action {
    white-space: normal;
    max-width: 200px;
    font-size: 17px;
    font-size: 1.7rem;
  }
  .dev .action {
    background: green;
  }
}
