html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  /*  text-shadow: 1px 1px 1px rgba(255,255,255,0.004);*/
}
html {
  background: #241e20;
  background: linear-gradient(45deg, #241e20 0%, #323030 100%);
}
a {
  text-decoration: none;
  color: #fff;
}
.actions,
.links {
  /*  display:block;
  float:left;
  padding-bottom:10px;*/
  list-style-type: none;
}
#content .placeholder {
  display: none;
}
#navbar {
  width: 100%;
  display: block;
  float: left;
  max-height: 20%;
  padding: 0 4vw;
}
#navbar #brand,
#navbar #search,
#navbar #navigation {
  max-height: 100%;
  overflow: hidden;
  display: inline-block;
  float: left;
  min-height: 100%;
}
#navbar #brand {
  width: 20%;
  text-align: center;
}
#navbar #brand .name {
  display: none;
}
#navbar #search,
#navbar #navigation {
  width: 40%;
  margin-top: 2em;
}
#navbar #search {
  text-align: left;
}
#navbar #search label {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}
#navbar #search label .fa {
  position: absolute;
  margin: .37em;
  color: #fff;
}
#navbar #search label input {
  outline: none;
  border: 1px solid #fff;
  background: none;
  padding: .25em .25em .25em 1.5em;
}
#navbar #navigation {
  text-align: right;
  white-space: nowrap;
}
#navbar #navigation a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin-left: 1em;
}
#content {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  padding: 0 4vw;
}
#content .menu {
  position: relative;
  white-space: nowrap;
  float: left;
  display: block;
  /*    overflow:hidden;*/
  opacity: 0;
  width: 0;
  height: 0;
  transition: all 0.2s ease-in;
  text-align: left;
}
#content .menu.active {
  width: 100%;
  height: 100%;
  opacity: 1;
}
#content .menu .menu-title {
  padding: 1em;
  line-height: 25px;
}
#content .action {
  white-space: normal;
  display: inline-block;
  /*    float:left;*/
  width: 160px;
  height: 160px;
  text-align: center;
  padding: 1em;
}
#content .action .action-icon,
#content .action .action-title,
#content .action .action-description {
  display: inline-block;
  color: #fff;
  text-align: left;
  width: 100%;
}
#content .action .action-title {
  position: absolute;
  padding: 0 .5em .5em .5em;
  left: 0;
  bottom: 0;
}
#content .action .action-description {
  padding: 0 .5em;
  font-size: 15px;
}
#content .action .action-icon {
  height: 80px;
  width: 80px;
  margin-top: .5em;
}
#content .action.link-action .inner {
  height: 200px;
}
#content .action.link-action .action-title {
  padding: .5em;
  position: relative;
}
#content .action.link-action .links {
  display: block;
  float: left;
  width: 100px;
  height: 40px;
  margin-left: 25px;
  margin-top: -60px;
  position: relative;
}
#content .action.link-action .links .prev,
#content .action.link-action .links .next,
#content .action.link-action .links .link {
  position: absolute;
}
#content .action.link-action .links .prev a,
#content .action.link-action .links .next a,
#content .action.link-action .links .link a {
  display: block;
  width: 100%;
  height: 40px;
}
#content .action.link-action .links .link {
  opacity: 0;
  transition: all 0.1s ease-in-out;
  top: 0;
  left: 0;
  width: 100px;
  height: 0px;
  display: none;
}
#content .action.link-action .links .link a,
#content .action.link-action .links .link img {
  display: inline-block;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}
#content .action.link-action .links .link a > img {
  min-width: 100%;
  min-height: 100%;
}
#content .action.link-action .links .link.active {
  display: inline-block;
  opacity: 1;
  height: 40px;
}
#content .action.link-action .links .prev,
#content .action.link-action .links .next {
  text-align: center;
  display: inline-block;
  font-size: .75em;
  top: .75em;
  width: 25px;
  height: 40px;
  left: -25px;
}
#content .action.link-action .links .next {
  left: 100px;
}
#content .action .inner {
  position: relative;
  border: 1px solid #fff;
  display: block;
  float: left;
  width: 150px;
  height: 150px;
  padding-right: 10px;
  padding-bottom: 10px;
}
#content .action .inner:hover .action-title {
  color: rgba(255, 255, 255, 0.75);
}
#content .action .inner > * {
  max-width: 100%;
}
img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
}
.large_squares #content .menu li > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.large_squares #content .menu .action {
  width: 220px;
  height: 220px;
}
.large_squares #content .menu .action .action-icon {
  height: 120px;
  width: 120px;
  margin-top: 1em;
  margin-left: 1em;
}
.large_squares #content .menu .action .inner {
  width: 200px;
  height: 200px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.large_squares #content .menu .action .links {
  width: 140px;
  height: 56px;
  margin-top: -76px;
}
.large_squares #content .menu .action .links .link {
  width: 140px;
}
.large_squares #content .menu .action .links .link.active {
  height: 56px;
}
.large_squares #content .menu .action .links .prev,
.large_squares #content .menu .action .links .next {
  width: 30px;
  height: 56px;
  left: -30px;
}
.large_squares #content .menu .action .links .next {
  left: 140px;
}
@media screen and (max-width: 960px) {
  #content .menu li > a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  #content .menu .action {
    width: 220px;
    height: 220px;
  }
  #content .menu .action .action-icon {
    height: 120px;
    width: 120px;
    margin-top: 1em;
    margin-left: 1em;
  }
  #content .menu .action .inner {
    width: 200px;
    height: 200px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  #content .menu .action .links {
    width: 140px;
    height: 56px;
    margin-top: -76px;
  }
  #content .menu .action .links .link {
    width: 140px;
  }
  #content .menu .action .links .link.active {
    height: 56px;
  }
  #content .menu .action .links .prev,
  #content .menu .action .links .next {
    width: 30px;
    height: 56px;
    left: -30px;
  }
  #content .menu .action .links .next {
    left: 140px;
  }
  #content .menu {
    max-width: 660px;
  }
}
@media screen and (min-width: 960px) {
  #content .menu {
    /*      background:red;*/
  }
}
@media screen and (min-width: 1320px) {
  #content .menu li > a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  #content .menu .action {
    width: 220px;
    height: 220px;
  }
  #content .menu .action .action-icon {
    height: 120px;
    width: 120px;
    margin-top: 1em;
    margin-left: 1em;
  }
  #content .menu .action .inner {
    width: 200px;
    height: 200px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  #content .menu .action .links {
    width: 140px;
    height: 56px;
    margin-top: -76px;
  }
  #content .menu .action .links .link {
    width: 140px;
  }
  #content .menu .action .links .link.active {
    height: 56px;
  }
  #content .menu .action .links .prev,
  #content .menu .action .links .next {
    width: 30px;
    height: 56px;
    left: -30px;
  }
  #content .menu .action .links .next {
    left: 140px;
  }
}
