html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #fff;
  text-rendering: optimizeLegibility !important;
  font-smoothing: antialiased !important;
  background: #241e20;
  background: linear-gradient(45deg, #241e20 0%, #323030 100%);
  background-size: 100vw 110%;
  max-width: 100vw;
  overflow-x: hidden;
}
img {
  width: 100px;
  height: 100px;
}
ul,
li {
  list-style-type: none;
}
a {
  color: #fff;
  text-decoration: none;
  padding-bottom: .25em;
  border-bottom: 1px solid #fff;
}
input {
  outline: none;
  display: inline-block;
  border: 1px solid #fff;
  background: transparent;
  padding: .25em .5em;
  color: #fff;
}
#navbar {
  position: relative;
  overflow: hidden;
  height: 20vh;
  width: 90vw;
  margin-left: 5vw;
  display: block;
}
#navbar #brand {
  position: absolute;
  width: 20vh;
  height: 20vh;
  left: 45vw;
  margin-left: -10vh;
}
#navbar #brand a {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}
#navbar #brand .name {
  display: none;
}
#navbar #brand .logo {
  max-height: 100%;
}
#navbar #search,
#navbar #navigation {
  display: block;
  float: left;
  width: 45vw;
  height: 20vh;
  line-height: 20vh;
}
#navbar #search {
  padding-right: 15vh;
  position: relative;
  text-align: left;
}
#navbar #search label {
  position: relative;
  display: inline-block;
}
#navbar #search i {
  position: absolute;
  top: 9vh;
  left: .5em;
}
#navbar #search input {
  padding-left: 1.75em;
  max-width: 20vw;
}
#navbar #navigation {
  padding-left: 15vh;
  text-align: right;
}
#navbar #navigation a {
  margin: 0 1vw;
}
#content {
  display: block;
  width: 80vw;
  margin-left: 10vw;
  max-height: 80vh;
}
.menu,
.destination {
  display: block;
  opacity: 0;
  transform: scale(0);
  transition: all 0.2s ease-in;
  position: absolute;
  top: 20vh;
  width: 80vw;
  left: 10vw;
  height: 60vh;
}
.menu.active,
.destination.active {
  transform: scale(1);
  opacity: 1;
}
.menu .menu-title {
  position: relative;
  display: block;
  height: 10vh;
  margin: 0 0 2vh 0;
}
.menu .menu-title h1 {
  position: absolute;
  bottom: 0;
  font-size: 26px;
  line-height: 32px;
}
.menu .menu-title .back {
  border: 0;
  font-weight: normal;
}
.menu .actions {
  display: block;
  width: 80vw;
  text-align: center;
}
.menu .actions .action {
  text-align: left;
  vertical-align: top;
  display: inline-block;
  float: left;
  width: 20vw;
  height: 20vw;
}
.menu .actions .action a {
  min-width: 150px;
  max-width: 200px;
  min-height: 150px;
  max-height: 200px;
  position: relative;
  display: inline-block;
  width: 94%;
  height: 94%;
  border: 1px solid white;
  margin: 3%;
}
.menu .actions .action a:active,
.menu .actions .action a:hover {
  background: rgba(255, 255, 255, 0.25);
}
.menu .actions .action .action-icon {
  margin-left: 25%;
  margin-top: .5em;
  width: 50%;
  height: 50%;
  background-position: center;
  background-size: contain;
}
.menu .actions .action .action-title {
  position: absolute;
  bottom: 0;
  padding: .5em;
}
@media screen and (max-width: 720px) {
  .menu .actions .action {
    min-width: 40vw;
    min-height: 40vw;
  }
}
@media screen and (max-width: 480px) {
  .menu .actions .action {
    min-width: 80vw;
    min-height: 80vw;
    margin: 0 0 2vw 0;
  }
  .menu .actions .action a {
    min-width: 90%;
    min-height: 90%;
    max-width: auto;
    max-height: auto;
  }
}
