 
.icon-angel-face {
	background-image: url('png/angel-face.png');
	background-repeat: no-repeat;
}

 
.icon-arcade {
	background-image: url('png/arcade.png');
	background-repeat: no-repeat;
}

 
.icon-broken-glasses {
	background-image: url('png/broken-glasses.png');
	background-repeat: no-repeat;
}

 
.icon-fingers-crossed {
	background-image: url('png/fingers-crossed.png');
	background-repeat: no-repeat;
}

 
.icon-organizer {
	background-image: url('png/organizer.png');
	background-repeat: no-repeat;
}

 
.icon-running-news {
	background-image: url('png/running-news.png');
	background-repeat: no-repeat;
}

 
.icon-screen-book {
	background-image: url('png/screen-book.png');
	background-repeat: no-repeat;
}

 
.icon-searchbox {
	background-image: url('png/searchbox.png');
	background-repeat: no-repeat;
}

 
.icon-social-people {
	background-image: url('png/social-people.png');
	background-repeat: no-repeat;
}

 
.icon-sources {
	background-image: url('png/sources.png');
	background-repeat: no-repeat;
}

 
.icon-tissue-box {
	background-image: url('png/tissue-box.png');
	background-repeat: no-repeat;
}

 
.icon-tv-couch {
	background-image: url('png/tv-couch.png');
	background-repeat: no-repeat;
}

