.greatings h2,h3 {
  color:white;
  margin-top: 10px;
  margin-bottom: 5px;
}
#search_form {
  margin-top:10px;

}
.inner-addon { 
    position: relative; 
    }

.inner-addon .glyphicon {
  position: absolute;
  padding: 7.5px;
  pointer-events: none;
}

.left-addon .glyphicon  { left:  0px;}

.right-addon .glyphicon { right: 0px;}

.left-addon input  { padding-left:  30px; }

.right-addon input { padding-right: 30px; }

#new-message {
  bottom:48px; left:0;
  width:100%;
  position:absolute; z-index:2;
  height:46px;
}

.icons {
  border: 3px solid white;
  padding: 10px;
  margin-top: 20px;
}

.icons p {
  color: white;
  font-size:16px;
}

.icons img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10vw;
  height: 10vw;
}

.new-post {
  margin-top: 20px;
}
li p {
  float:right;
  margin-right:10px;
}
body,ul,li {
	padding:0;
	margin:0;
	border:0;
}

body {
	font-size:12px;
	-webkit-user-select:none;
        -webkit-text-size-adjust:none;
}

#header {
	position:absolute; z-index:2;
	top:0; left:0;
	width:100%;
	height:55px;
	line-height:45px;
	background-color:#222;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222));
	background-image:-moz-linear-gradient(top, #999, #666 2%, #222);
	background-image:-o-linear-gradient(top, #999, #666 2%, #222);
	padding:0;
	color:#eee;
	font-size:20px;
	text-align:center;
}

#footer {
	position:absolute; z-index:2;
	bottom:0; left:0;
	width:100%;
	height:48px;
	background-color:#222;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222));
	background-image:-moz-linear-gradient(top, #999, #666 2%, #222);
	background-image:-o-linear-gradient(top, #999, #666 2%, #222);
	padding:0;
	border-top:1px solid #444;
}

#wrapper_messages {
        position:absolute; z-index:1;
        top:45px; bottom:94px; left:0;
        width:100%;
        background:#aaa;
	overflow:auto;

}

#wrapper {
	position:absolute; z-index:1;
	top:45px; bottom:48px; left:0;
	width:100%;
	background:#aaa;
	overflow:auto;

}

#scroller {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;

}

#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#scroller li {
	padding:0 10px;
	height:40px;
	line-height:40px;
	background-color:#fafafa;
	font-size:14px;
}


.footer-icons {
    font-size: 30px;
    margin-top: 3px;
    margin-left: 10px;
}

#search {
  margin-top: 20px;
}

body {
  padding-top: 50px;
  background-color: black;
  font-family: 'Ubuntu', sans-serif;
  font-weight:300;
  font-size:17px;
  font-size:1.7rem;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}
.search_results {
  margin-top:15px;
  width: 100%;
  padding:10px;
}
.search_results li {
  padding:0 10px;
  height:45px;
  line-height:40px;
  border-bottom:1px solid #ccc;
  border-top:1px solid #fff;
  background-color:#fafafa;
  font-size:14px;
  border-radius: 3px;
}
.friends_button {
  margin-top:5px;
  margin-left:5px;
  float:right;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.friends {
  margin:5px;
}
.friends ul {
  list-style:none;
  padding:0;
  margin:0;
  width:100%;
  text-align:left;
}

.friends li {
  padding:0 10px;
  height:35px;
  line-height:35px;
  border-bottom:1px solid #ccc;
  border-top:1px solid #fff;
  background-color:#fafafa;
  font-size:14px;
}
#profile_box li {
  padding:0 10px;
  padding:0 10px;
  line-height:35px;
  border-bottom:1px solid #ccc;
  border-top:1px solid #fff;
  background-color:#fafafa;
  font-size:14px;
}
#profile_box ul {
  list-style:none;
  padding:0;
  margin:0;
  width:100%;
  text-align:left;
  
}
#profile_box {
  margin:5px;
}
#conversations {
  margin:5px;
  }
#conversations ul {
  list-style:none;
  padding:0;      
  margin:0;
  width:100%;
  text-align:left;
}
#conversations li {
  padding:0 10px;
  height:35px;
  line-height:35px;
  border-bottom:1px solid #ccc;
  border-top:1px solid #fff;
  background-color:#fafafa;
  font-size:14px;
}
.new-post {
}


